body {
    font-family: "Montserrat", sans-serif;
}

/*-------------------------------------------Navbar */

.navbar-brand{
    font-family: "Pacifico", sans-serif;
    color: #000000;
}

/*-------------------------------------------Welcome */
.section {
    position: relative;
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section h1 {
    text-align: center;
    font-size: 6rem;
    font-family: "Pacifico", sans-serif;
    color: #ffffff;
    z-index: 1;
}

/*-------------------------------------------Destination */

.destination h2 {
    text-align: center;
    font-weight: bold;
}

.destination h3 {
    text-align: center;
}

/*-------------------------------------------Containers */

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.destination-container {
    background-color: #1D428A;
    color: #ffffff;
    padding-bottom: 1.25rem;
}

.content-container {
    align-items: center;
    text-align: center;
    color: #1D428A;
}

/*-------------------------------------------Footer */

footer {
    background-color: #fd0;;
    color: #000000;
    min-height: 3.125rem;
    margin: 0;
}

.social-links li a i {
    width: 2rem;
    height: 2rem;
    padding: 5px 0;
    border-radius: 10%;
    font-size: 21px;
    line-height: 7px;
    text-align: center;
    color: #1D428A;
}

#footer-details {
    padding: 15px;
}

.inline-block a {
    color: #1D428A;
}

/*-------------------------------------------Content*/

.content-heading {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-top: 25px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

/*-------------------------------------------Buttons */

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #fd0;
    color: #000000;
}

/*-------------------------------------------Media Queries */

@media(min-width: 992px) {
    
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}