body {
    font-family: "Montserrat", sans-serif;
}

/*-------------------------------------------Navbar */

.navbar-brand{
    font-family: "Pacifico", sans-serif;
    color: #000000;
}

/*-------------------------------------------Welcome */
.section {
    position: relative;
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section h1 {
    text-align: center;
    font-size: 6rem;
    font-family: "Pacifico", sans-serif;
    color: #ffffff;
    z-index: 1;
}

/*-------------------------------------------Containers */

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/*-------------------------------------------Footer */

footer {
    background-color: #fd0;;
    color: #000000;
    min-height: 3.125rem;
    margin: 0;
}

.social-links li a i {
    width: 2rem;
    height: 2rem;
    padding: 5px 0;
    border-radius: 10%;
    font-size: 21px;
    line-height: 7px;
    text-align: center;
    color: #006BB6;
}

#footer-details {
    padding: 15px;
}

.inline-block a {
    color: #006BB6;
}