body {
    font-family: "Montserrat", sans-serif;
}

body h2 {
    font-family: "Pacifico", sans-serif;
}

/*-------------------------------------------Navbar */

.navbar-brand{
    font-family: "Pacifico", sans-serif;
    color: #000000;
}

/*-------------------------------------------Welcome */
.welcome {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.welcome h1 {
    text-align: center;
    font-family: "Pacifico", sans-serif;
    color: #ffffff;
    z-index: 1;
}

/*-------------------------------------------Destination */

.destination h2 {
    font-weight: bold;
}

.destination {
    text-align: center;
}

.destination i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 35px;
}

.destination h3 {
    color: #ffffff;
    padding-bottom: 25px;
}

.destination a:hover {
    color: #fd0;
}

/*-------------------------------------------Containers */

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.destination-container {
    background-color: #1D428A;
    color: #ffffff;
    padding-bottom: 1.25rem;
}

.content-container {
    align-items: center;
    text-align: center;
    color: #1D428A;
}

.about-us-container h2 {
    font-weight: bold;
}

.about-us-container h4 {
    padding-bottom: 15px;
}

.choose-us-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.choose-us-container h4 {
    padding-bottom: 15px;
}

/*-------------------------------------------Headings */

.content-heading {
    font-family: "Pacifico", sans-serif; 
    text-align: center;
    color: #1D428A;
}

/*-------------------------------------------Text */

.content-text {
    color: #1D428A;
    line-height: 1.7em;
}

.content-text-heading {
    color: #1D428A;
    font-family: "Pacifico", sans-serif;
}

.package-text {
    color: #1D428A;    
}

.package-text h3, h4, h6 {
    font-weight: bold;   
}

/*-------------------------------------------Footer */

footer {
    background-color: #fd0;;
    color: #000000;
    min-height: 3.125rem;
    margin: 0;
}

.social-links li a i {
    width: 2rem;
    height: 2rem;
    padding: 5px 0;
    border-radius: 10%;
    font-size: 21px;
    line-height: 7px;
    text-align: center;
    color: #1D428A;
}

#footer-details {
    padding: 15px;
}

.inline-block a {
    color: #1D428A;
}

/*-------------------------------------------Content*/

.content-heading {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-top: 25px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

/*-------------------------------------------Buttons */

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #fd0;
    color: #000000;
}

/*-------------------------------------------Photo */

.photo {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
    padding-bottom: 25px;
} 

.photo img {
    width: 100%;
} 

/*-------------------------------------------Maps */

div#map-baguio {min-height: 360px;}

div#map-boracay {min-height: 360px;}

div#map-manila {min-height: 360px;}

/*-------------------------------------------Media Queries */

@media(min-width: 992px) {
    
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

@media screen and (max-width:943px){

    .photo {
        column-count: 3;
    }
}

@media screen and (max-width:800px){

    .photo {
        column-count: 1;
    }
}